name: Build at ubuntu-latest
on:
  push:
    branches:
      - '*'
jobs:
  build_cpp_modules:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: ['ex00', 'ex01', 'ex02', 'ex03']
    steps:
      - uses: actions/checkout@v4
      - name: Build cpp module
        run: |
          if [ -d "./cpp/cpp0/${{ matrix.module }}" ]; then
            cd "./cpp/cpp0/${{ matrix.module }}"
            if [ -f "Makefile" ]; then
              make
            fi
          fi